USE [master]
GO
/****** Object:  Database [Sell_Mobile_1]    Script Date: 4/6/2023 5:27:39 PM ******/
CREATE DATABASE [Sell_Mobile_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sell_Mobile_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sell_Mobile_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sell_Mobile_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sell_Mobile_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sell_Mobile_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sell_Mobile_1]
GO
/****** Object:  Table [dbo].[tb_CTDonHang]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CTDonHang](
	[MaDH] [int] NOT NULL,
	[MaDienThoai] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [nchar](10) NULL,
 CONSTRAINT [PK_tb_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DienThoai]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DienThoai](
	[MaDienThoai] [int] IDENTITY(1,1) NOT NULL,
	[TenDienThoai] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[Mota] [nvarchar](max) NULL,
	[MaLoai] [int] NULL,
	[HinhSP1] [nvarchar](50) NULL,
	[HinhSP2] [nvarchar](50) NULL,
	[HinhSP3] [nvarchar](50) NULL,
	[HinhSP4] [nvarchar](50) NULL,
	[KichThuocHinhAnh] [nvarchar](200) NULL,
	[Camera_Truoc] [nvarchar](100) NULL,
	[Camera_Sau] [nvarchar](100) NULL,
	[He_Dieu_Hanh] [nvarchar](200) NULL,
	[CPU] [nvarchar](200) NULL,
	[RAM] [nvarchar](200) NULL,
	[Bo_Nho_Trong] [nvarchar](200) NULL,
	[The_Nho] [nvarchar](200) NULL,
	[Sim] [nvarchar](200) NULL,
	[Ket_Noi] [nvarchar](200) NULL,
	[Pin] [nvarchar](100) NULL,
	[ChuThich] [nvarchar](500) NULL,
	[MaNSX] [int] NULL,
	[moi] [int] NULL,
 CONSTRAINT [PK_tb_DienThoai] PRIMARY KEY CLUSTERED 
(
	[MaDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DonHang]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[DaThanToan] [nvarchar](50) NULL,
	[TinhTrangGiao] [nvarchar](50) NULL,
	[MaKH] [int] NULL,
 CONSTRAINT [PK_tb_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KhachHang]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Diachi] [nvarchar](200) NULL,
	[DienThoai] [varchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [datetime] NULL,
 CONSTRAINT [PK_tb_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LoaiSanPham]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LoaiSanPham](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NhaSanXuat]    Script Date: 4/6/2023 5:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [int] NULL,
 CONSTRAINT [PK_tb_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTDonHang_tb_DienThoai1] FOREIGN KEY([MaDienThoai])
REFERENCES [dbo].[tb_DienThoai] ([MaDienThoai])
GO
ALTER TABLE [dbo].[tb_CTDonHang] CHECK CONSTRAINT [FK_tb_CTDonHang_tb_DienThoai1]
GO
ALTER TABLE [dbo].[tb_CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_tb_CTDonHang_tb_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[tb_DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[tb_CTDonHang] CHECK CONSTRAINT [FK_tb_CTDonHang_tb_DonHang]
GO
ALTER TABLE [dbo].[tb_DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_tb_DienThoai_tb_LoaiSanPham] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tb_LoaiSanPham] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[tb_DienThoai] CHECK CONSTRAINT [FK_tb_DienThoai_tb_LoaiSanPham]
GO
ALTER TABLE [dbo].[tb_DienThoai]  WITH CHECK ADD  CONSTRAINT [FK_tb_DienThoai_tb_NhaSanXuat] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[tb_NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[tb_DienThoai] CHECK CONSTRAINT [FK_tb_DienThoai_tb_NhaSanXuat]
GO
ALTER TABLE [dbo].[tb_DonHang]  WITH CHECK ADD  CONSTRAINT [FK_tb_DonHang_tb_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tb_KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tb_DonHang] CHECK CONSTRAINT [FK_tb_DonHang_tb_KhachHang]
GO
USE [master]
GO
