<div class="col-7 bg-white" style="height: 400px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Asset/image/slide1.png" class="d-block w-100" alt="..." style="width: 732px; height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="~/Asset/image/slide2.jpg" class="d-block w-100" alt="..." style="width: 732px; height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="~/Asset/image/slide3.jpg" class="d-block w-100" alt="..." style="width: 732px; height: 400px;">
            </div>
            <div class="carousel-item">
                <img src="~/Asset/image/slide4.jpg" class="d-block w-100" alt="..." style="width: 732px; height: 400px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="col-3 bg-white">
    <img src="~/Asset/image/qc1.jpg" style="height: 120px; width: 310px;">
    <img src="~/Asset/image/qc2.jpg" style="height:120px; width: 310px; margin-top: 20px;">
    <img src="~/Asset/image/qc3.jpg" style="height:120px; width: 310px; margin-top: 20px;">
</div>
